body {
  margin: 0;
}

header {
  background: #999;
  color: white;
  padding: 5px 15px 0 15px;
}

header h1 {
  display: inline;
  margin: 0
}

nav ul{
  display: inline;
  margin: 0;
  padding: 0 0 0 15px;
}

nav ul li {
  background: black;
  display: inline-block;
  list-style-type: none;
  padding: 5px 15px;
  margin: 0;
}

nav ul li a {
  color: white;
}

.row {

}

.col {
  background: #333;
  border-radius: 5px;
  color: white;
  float: left;
  margin: .5%;
  padding: 5px;
  width: 31%;
}

footer {
  clear: both;
}
